.template {
    width: 80vw;
    margin: 4rem auto;
    max-width: 750px;
    padding: 2rem;
    background: #fff;
  }
  
.day-container-single {
  background-color: #fff;
    border-left: 30px solid $mainColor;
    padding: 1.5rem 1.5rem .3rem 1.5rem;
    margin: 3rem 1rem 1.5rem 1rem;
    
}
